[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
sqlalchemy = "*"
alembic = "*"
importlib-resources = "*"
ipdb = "*"
pytest = "7.1.3"
sqlalchemy-serializer = "*"
Flask-Cors = "*"
Flask-Bcrypt = "*"
flask = "*"
gunicorn = "*"
psycopg2-binary = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-restful = "*"

[dev-packages]

[requires]
python_version = "3.8"
